<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <!-- Optional: install to /usr/share/polkit-1/actions/ for a nicer
       authentication prompt. PowerSched works without it via the generic
       pkexec prompt. -->
  <action id="io.github.powersched.apply">
    <description>Apply CPU and scheduler settings</description>
    <message>Authentication is required to change CPU or scheduler settings</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
